:root {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 13%);
  --black: hsl(0, 0%, 0%);

  --light-green: hsl(120, 73%, 75%);
  --dark-green: hsl(120, 100%, 20%);
  --lime: hsl(120, 100%, 50%);
  --lime-50: hsla(120, 100%, 50%, 0.5);

  --block-size: clamp(300px, 100vw, 1200px);
}

@font-face {
  font-family: "Roboto Flex";
  src: url("./assets/fonts/RobotoFlex-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-stretch: 50% 200%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Roboto Flex", sans-serif;
}

.keep-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  min-block-size: 100dvh;

  & > .nueva-nota {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    inline-size: clamp(300px, 100%, 350px);
    margin-inline-start: 0.5rem;
    padding: 1rem;
    background: var(--black);
    border-radius: 0.5rem;

    & > header {
      text-align: center;
      font-size: clamp(1.5rem, 2vw, 2rem);
    }

    & > .color_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      inline-size: fit-content;
      margin: auto;
      padding: 0.5rem;

      & > label {
        font-weight: bold;
      }

      & > input {
        border: none;
        background: transparent;
        border-radius: 1rem;
      }
    }

    & button {
      background: var(--dark);
      color: var(--light);
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.2s linear, color 0.2s linear,
        transform 0.1s ease-in-out;

      &:hover {
        background: var(--lime);
        color: var(--dark);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    & > .buscar_container {
      display: flex;
      padding: 0.5rem;
      background: var(--light);
      border-radius: 0.5rem;
      inline-size: fit-content;
      margin: auto;
      & > input {
        background-color: transparent;
        border: none;
        font-size: 1rem;

        &::placeholder {
          opacity: 0.7;
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }
}

.contenedor-notas {
  flex: 1;
  display: grid;
  gap: 1rem;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  block-size: 100dvh;
  padding: 1rem;
  background-color: var(--light);

  & > .nota {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    color: var(--dark);
    border: 1px solid var(--dark-green);
    border-radius: 1rem;
    transition: box-shadow 0.2s linear, scale 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 2px 8px var(--light-green);
      scale: 1.02;
    }

    & > h3 {
      text-align: center;
      font-weight: lighter;
    }

    & > p {
      min-block-size: 50px;
      border-block-end: 2px solid rgba(0, 0, 0, 0.3);
      font-size: 0.9rem;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Number of lines to show */
      -webkit-box-orient: vertical;
    }

    & > .btn_eliminar {
      align-self: flex-end;
      display: grid;
      place-items: center;
      padding: 0.2rem;
      background: var(--dark);
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    &.arrastrando {
      opacity: 0.5;
      border: 2px dashed var(--lime);
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.campo {
  position: relative;

  & > input,
  textarea {
    width: 100%;
    padding: 12px 10px;
    font-size: 1rem;
    border: none;
    outline: 2px solid var(--lime-50);
    border-radius: 0.6rem;
    background: transparent;
    color: var(--light);
    font-size: 1rem;
    font-family: "Roboto Flex", sans-serif;
  }

  & > label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #999;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
}

.campo input:focus + label,
.campo textarea:focus + label,
.campo input:valid + label,
.campo textarea:valid + label {
  top: -15px;
  left: 10px;
  font-size: 0.75rem;
  color: #555;
  border-radius: 0.5rem;
  background: var(--light);
  padding: 0.2rem;
}
